* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(231, 245, 239);
}

#root {
  text-align: center;
}

h1 {
  margin: 3em 0;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.book {
  width: 300px;
  height: 400px;
  padding: 1em 3em;
  background-color: white;
  border-radius: 15px;
}

img {
  width: 80%;
  height: 80%;
  margin: 1em 0;
}

p {
  margin-bottom: 0.5em;
}
